<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Add movie</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="shortcut icon" href="/static/media/favicon.png">
	<link rel="stylesheet" type="text/css" href="/static/style/add_movie.css">
</head>
<body>

<img src="{{data.poster}}" id="poster">

<div id="cnt">
	<center>
		<form method="POST" action="/add_movie/{{email}}/{{password}}/" id="frm" enctype="multipart/form-data">
			{% csrf_token %}
			<input name="name" class="inpt" type="text" placeholder="Enter movie name">
			<p>Choose poster : <input type="file" name="file"></p>
			<input name="trailer" class="inpt" type="text" placeholder="Enter youtube trailer">
			<input name="dimensions" class="inpt" type="text" placeholder="Enter dimensions (2d,3d)">
			<input name="duration" class="inpt" type="number" placeholder="Enter duration (in minutes)">
			<input name="releaseDate" class="inpt" type="text" placeholder="Enter release date">
			<input name="language" class="inpt" type="text" placeholder="Enter language (hindi,english,...)">
			<input name="age" class="inpt" type="text" placeholder="Enter rating (13+,A,R)">
			<input name="category" class="inpt" type="text" placeholder="Enter category (Adventure,thriller,...)">
			<input name="cost" class="inpt" type="text" placeholder="Enter cost">
			<p><a href="/admin_dashboard/{{email}}/{{password}}/" style="color: black;padding: 10px;"><i class="material-icons">arrow_back</i></a> <button class="btn">Add movie</button></p>
		</form>
	</center>
</div>
<script type="text/javascript">
	window.history.pushState("object or string", "Title", "/add_movie");
</script>
</body>
</html>