<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dashboard</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="shortcut icon" href="/static/media/favicon.png">
	<link rel="stylesheet" type="text/css" href="/static/style/admin-dashboard.css">
</head>
<body>

<p class="hd">Movies <a href="/add_movie/{{email}}/{{password}}/"><button class="btn">+ Add movie</button></a><a href="/"><button class="btn">logout</button></a></p>
	{% for i in movies %}
			<div class="container">
				<img src="{{i.poster}}"  class="container-img">
				<p class="tt-mv">{{i.name}}</p>
				<p class="n-tt">Duration: {{i.duration}} minutes</p>
				<p class="n-tt">Release Date: {{i.releaseDate}}</p>
				<p class="n-tt">Rating: {{i.rate}}</p>
				<p class="n-tt lng">Languages: {% for x in i.language %} <span class="language">{{x}}</span> {% endfor %}</p>
				<p class="n-tt lng">Dimension: {% for x in i.dimensions %} <span class="language">{{x}}</span> {% endfor %}</p>
				<p class="n-tt lng">Category: {% for x in i.category %} <span class="language">{{x}}</span> {% endfor %}</p>
				<p class="n-tt">Cost: ₹ {{i.cost}}</p>
				<p class="n-tt">Rating: {{i.age}}</p>
				<p class="n-tt">Tickets sold : {{i.ticketsSold}}</p>
				<p class="n-tt">Status: {{i.status}}</p>
				<p class="spc">
					<a href="/delete_movie/{{email}}/{{password}}/{{ i.id }}/"><button class="stg-btn">delete</button></a>
					<a href="/archive_status/{{email}}/{{password}}/{{ i.id }}/"><button class="stg-btn">Archive status</button></a>
				</p>
			</div>
	{% endfor %}

<script type="text/javascript">
	window.history.pushState("object or string", "Title", "/dashboard");
</script>
</body>
</html>